{% extends 'authentication/base.html' %}

{% block title %}Password Reset Complete | {% endblock %}

{% block content %}
<style>
    body {
      background-color: #e1f5fe; 
    }
</style>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow">
                <div class="card-body bg-light">
                    <h1 class="text-center mb-4">Password Reset Complete</h1>
                    <p class="text-center">Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a> with your new password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
