{% extends 'authentication/base.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}
<style>
    body {
        background: linear-gradient(to bottom right, #87CEFA, #ffffff);
    }
</style>
  
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card shadow">
                <div class="card-body bg-light">
                    <h1 class="text-center mb-4">Sign up</h1>
                    <form method="post" action="{% url 'student_signup' %}" class="mb-4">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_username" class="form-label text-secondary">Username</label>
                            <input type="text" name="username" class="form-control mt-2" id="id_username" required>
                        </div>

                        <div class="mb-3">
                            <label for="id_email" class="form-label text-secondary">Email</label>
                            <input type="email" name="email" class="form-control mt-2" id="id_email" required>
                        </div>

                        <div class="mb-3">
                            <label for="id_password1" class="form-label text-secondary">Password</label>
                            <input type="password" name="password1" class="form-control mt-2" id="id_password1" required>
                        </div>

                        <div class="mb-3">
                            <label for="id_password2" class="form-label text-secondary">Repeat password</label>
                            <input type="password" name="password2" class="form-control mt-2" id="id_password2" required>
                        </div>

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="mb-3 p-2 rounded-xl bg-danger text-light">
                                        <p>{{ error|escape }}</p>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}

                        <button type="submit" class="btn btn-primary w-100 mt-4">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
